.topicos {
    background: var(--azul-escuro);
    text-align:center;
    padding: 1em;
}
.topico__titulo {
    color:var(--branco);
    font-weight:300;
    margin-bottom: 1em;
}
.topico__lista {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.topico__item {
    margin:2em 0.5em ;
}
.topico__link {
    text-decoration:none;
    color:var(--branco);
    font-weight: 700;
    background-color:var(--laranja);
    font-size:14px;
    padding: 1em;
}

 @media screen and (min-width:1024px) {
    .topico__titulo {
        font-size:24px;
    }
    .topico__link {
       font-size:24px;
    }
 }

 @media screen and (min-width:1728px){
    .topico__titulo{
        font-size:32px;
    }
    .topicos{
        padding:3em 30vw;
        /* display:flex;
        flex-direction: column;
        align-items:center; */
    
    }
    /* .topico__lista{
        width:40%;
    } */


 }